<h1>Listing exhibits</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Type</th>
      <th>Url</th>
      <th>Private</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exhibits.each do |exhibit| %>
      <tr>
        <td><%= exhibit.user_id %></td>
        <td><%= exhibit.type_id %></td>
        <td><%= exhibit.url %></td>
        <td><%= exhibit.private %></td>
        <td><%= link_to 'Show', exhibit %></td>
        <td><%= link_to 'Edit', edit_exhibit_path(exhibit) %></td>
        <td><%= link_to 'Destroy', exhibit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exhibit', new_exhibit_path %>
