<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @exhibit.user_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @exhibit.type_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @exhibit.url %>
</p>

<p>
  <strong>Private:</strong>
  <%= @exhibit.private %>
</p>

<%= link_to 'Edit', edit_exhibit_path(@exhibit) %> |
<%= link_to 'Back', exhibits_path %>
