<div class="header">
  <% if signed_in? %>
    <%= link_to "Sign out", signout_path, method: "delete" %>
    <a href="#" class="my-account-trigger">My account</a>   
  <% else %>
    <a href="#" class="login-trigger">Login</a>

    <div class="login-form hidden">
      <%= form_for(:session, url: sessions_path) do |f| %>

          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
        <% end %>
    </div>
  <% end %>
</div>
