<h1>Hi, <%= @username %></h1>
<h2>Thanks for signing up for Study Decks!</h2>
<p>Please click the link below to verify your email address. Alternatively, you can copy and paste this link into the url bar of your internet browser.</p>
<p><a href="<%= @verification_url%>"><%= @verification_url%></a></p>