<%= form_for(@asset) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :url %>
  <%= f.hidden_field :order %>
  <%= hidden_field_tag :name, nil, :id => 'name' %>
  <%= hidden_field_tag :data, nil, :id => 'data' %>
<% end %>
