<% if !@exhibit.nil? %>
  <a href="#" id="manual-file-trigger">Select files to upload</a>
  <input type="file" id="manual-file" multiple/>
  <div id="drop-container"><div id="drop-container-text">Or you can just drag and drop your files here.</div></div>
  <ul id="images"></ul>
  <div id="upload-dialogue">
    <div class="message">All files are selected for upload by default. Click any images that you wish to deselect.</div>
    <a href="#" id="upload-trigger">Upload selected files</a>
  </div>
  <script>
    var exhibitId = <%= @exhibit.id %>;
  </script>
<% else %>
<% end %>

