<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @asset.url %>
</p>

<p>
  <strong>Order:</strong>
  <%= @asset.order %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
