// Place all the styles related to the assets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#manual-file {
  display: none;
}
#drop-container {
  position: relative;
  display: block;
  width: 50%;
  height: 150px;
  border: 2px solid black;
  &.hover {
    border: 2px solid #00ff00;
  }
  #drop-container-text {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 2.0em;
  }
}
#images {
  position: relative;
  display: block;
  li {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    margin-right: 5px;
    padding: 2px;
    border: 2px solid rgba(175, 0, 0, 1.0);
    vertical-align: middle;
    list-style-type: none;

    // Prevent selection
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .mask {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.3);

    }
    &.selected {
      border: 2px solid #00ff00;
      .mask {
        display: none;
      }
    }
    img {
      position: relative;
      display: block;
      margin: auto;
      vertical-align: middle;
      &.vertical {
        height: 100%;
      }
      &.horizontal {
        width: 100%;
        margin-top: 50%;
        top: -25%;
      }
    }
  }
}
#upload-dialogue {
  position: relative;
  display: none;
}